*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }



.parceiros{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

footer{
    display: flex;
    justify-content:center;
}

footer .container{
    width: 700px;
    max-width: 100%;
}

.sobre{
    padding-bottom: 3rem;
    border-bottom: 3px solid rgb(206, 206, 206);
    margin-bottom: 3rem;
}

.logo-footer ul{
    display: flex;
    gap: 0.8rem;
    padding-block: 1.5rem;
}

.logo-footer ul li{
    list-style: none;
    font-size: 1.3rem;
    color: #2f4eb5;
}



@media(max-width:575px){
    .parceiros{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

